/* カスタマイズ用CSS */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap');
body{
    font-family: Sawarabi Mincho , Roboto, "游ゴシック", YuGothic, "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sans-serif !important;
}
.ec-layoutRole{
    overflow: hidden;
}
.ec-layoutRole .ec-layoutRole__contents{
    margin: auto;
}
.ec-role img{
    width: 100%;
}
.online_subtitle .icon_01{
    width:  30px;
    height: 33px;
}
.online_subtitle{
    padding: 0 0 15px 15px;
    /*border-bottom: 2px solid #150532;*/
    margin-bottom: 40px;
}
.online_subtitle_ttl_01,
.online_subtitle .all{
    font-size: 18px;
    line-height: 1;
    color: #222222;
    display: inline-block;
    font-weight: bold;
    margin: 0;
    font-family: 'Sawarabi Mincho', sans-serif;
}
.online_subtitle .all{
    float: right;
    text-decoration: none;
    padding: 0 0 15px 0;
    display: inline-block;
    font-size: 16px;
}
.online_subtitle .all:hover{
    text-decoration: underline;
}

/*login*/
.ec-headerNaviRole .icon_mypage{
    width: 65px;
    height: auto;
}
.ec-headerNaviRole .icon_login{
    width: 44px;
    height: auto;
}
/*end of login*/

/*.icon_search*/
.icon_search{
    width: 22px;
    height: auto;
}
/*end of .icon_search*/

/*.custom_line*/
.custom_line{
    position: relative;
    width: 100%;
    z-index: 1;
}
.line{
    position: absolute;
    content: "";
    width: 100%;
    margin-top: -3%;
    left: 0;
    /*background: #000;*/
    /*height: 1pt;*/
    z-index: 1;
    border-bottom: 1pt solid #000;
    border-top: none;
}
/*end of .custom_line*/

/*.icon_arrow_right*/
.ec-role .icon_arrow_right,
.ec-sliderRole .icon_arrow_right{
    width: 12px;
    height: auto;
}
/*end of .icon_arrow_right*/

.ec-blockTopBtn{
    background: transparent;
    bottom: 29px;
}
.ec-layoutRole{
    padding: 100px 0 0 0;
}
/*pagetop*/
.pagetop{
    text-align: center;
    padding: 10px 10px;
    background: #000;
    width: auto;
    height: auto;
    padding: 19px;
    z-index: 9;
}
.arrow-up{
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 17px solid #586400;
}
/*end of pagetop*/

/*image for slick slider*/
.slick-list img,
.ec-shelfGrid .ec-shelfGrid__item img{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 767px){
    .online_subtitle {
        padding: 0 0 .15rem .15rem;
        margin-bottom: .40rem;
    }
    .online_subtitle_ttl_01,
    .online_subtitle .all{
        font-size: .18rem;
    }
    .ec-role .icon_arrow_right,
    .ec-sliderRole .icon_arrow_right{
        width: .12rem;
        background-size: .25rem auto;
    }
    .slick-prev,
    .slick-next{
        top: 1.05rem;
        width: .26rem;
        height: .26rem;
        background-size: .25rem auto;
    }
    .arrow-up{
        border-left: .10rem solid transparent;
        border-right: .10rem solid transparent;
        border-bottom: .17rem solid #586400;
    }
    .ec-newItemRole .ec-newItemRole__listItemTitle{
        margin: .08rem 0;
        font-size: .14rem;
    }
    .ec-newItemRole .ec-newItemRole__listItemPrice{
        font-size: .12rem;
    }
}